//OVERALL LAYOUT
.layout {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85vw;
  p {
    @include flex-col;
    button {
      margin: 2rem;
    }
  }
}

//HEADING
.heading__black {
  @include heading(#444);
}
.heading__grey {
  @include heading(darken($darker-grey, 4));
}

.heading__bold {
  font-weight: $bold;
  letter-spacing: 1px;
}

.heading__reg {
  font-weight: $reg;
}

.heading__light {
  font-weight: $light;
}

.heading__red {
  @include heading($red);
}

.heading__white {
  @include heading($less-white);
}

.heading__xs {
  font-size: 1.6rem;
}

.heading__sm {
  font-size: 2rem;
}

.heading__md {
  font-size: 2.5rem;
}

.heading__lg {
  font-size: 3rem;
}

.heading__xl {
  font-size: 3.5rem;
}

.heading__center {
  @include flex-col-center;
  margin: 0 auto;
}

// FOOTER
.footer {
  margin-top: $l-size;
  .banner {
    margin: 0.75rem 0;
  }
  p {
    font-size: 1.2rem;
    @include flex-col-center;
  }
}

footer {
  padding: $xl-size 0;
  background: $less-grey;
  border-top: 1px solid darken($less-grey, 4);
  min-height: 20vh;
  @include flex-row-center;
  align-items: flex-start;
  div,
  span {
    @include flex-col;
    a {
      color: $darker-grey;
      text-decoration: none;
      line-height: 2;
    }
    a:hover {
      color: $almost-black;
    }
  }
}

.footer__col {
  @include flex-col;
  align-items: flex-start;
  max-width: 15vw;
  margin-right: 10rem;
  height: 100%;
  h4 {
    margin-bottom: $s-size;
    color: $red;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p {
    font-size: 1.5rem;
    margin: 0;
  }
}

.footer__directory {
  @include flex-row;
}

.footer__legal {
  margin-left: $l-size;
  padding-left: $l-size;
  border-left: 1px solid darken($less-grey, 4);
}

.footer__img {
  margin-bottom: 2rem;
}

.footer__copyright {
  font-size: 1.2rem;
  color: lighten($darker-grey, 3);
}

// PARAGRAPHS
.paragraph {
  margin: 1rem 0;
  line-height: 2;
}
@media (min-width: $desktop-breakpoint) {
  .layout {
    width: 55vw;
    p {
      padding: 1rem 0;
    }
  }
}

@media (min-width: 2560px) {
  .layout {
    width: 35vw;
  }
}
