//OVERALL LAYOUT
.layout {
  @include flex-col(center);
  margin: 0 auto;
  width: 70vw;
  p {
    padding: $xs-size 0;
  }
  p:last-child {
    padding-bottom: $m-size;
  }
}

//HEADING
.heading__black {
  @include heading(#444);
}
.heading__grey {
  padding-top: $m-size;
  @include heading(darken($darker-grey, 4));
}

.heading__underline {
  @include heading-underline($mid-grey);
  padding-bottom: $s-size;
}

.heading__bold {
  font-weight: $bold;
  letter-spacing: 1px;
}

.heading__reg {
  font-weight: $reg;
}

.heading__light {
  font-weight: $light;
}

.heading__red {
  @include heading($red);
  a {
    @include heading($red);
    text-decoration: none;
  }
}

.heading__white {
  @include heading($less-white);
}

.heading__center {
  @include flex-col(center);
  margin: 0 auto;
}

.heading__start {
  @include flex-col(flex-start);
}

.svg__container {
  width: 100%;
  @include flex-row(center);
  &.--smaller {
    width: 70%;
  }
}

@media (min-width: $desktop-breakpoint) {
  .layout {
    width: 60vw;
    align-items: flex-start;
  }
}
