.layout {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85vw;
  p {
    font-size: 1.5rem;
    @include flex-col;
    button {
      margin: 2rem;
    }
    a {
      font-size: 1.5rem;
    }
  }
}

.heading__grey {
  @include heading(darken($darker-grey, 4));
}

.heading__bold {
  font-weight: $bold;
  letter-spacing: 1px;
}

.heading__reg {
  font-weight: $reg;
}

.heading__light {
  font-weight: $light;
}

.heading__red {
  @include heading($red);
}

.heading__white {
  @include heading($less-white);
}

.heading__sm {
  font-size: 2rem;
}

.heading__md {
  font-size: 2.5rem;
}

.heading__lg {
  font-size: 3rem;
}

.heading__xl {
  font-size: 3.5rem;
}

footer {
  background: $mid-grey;
  height: 20vh;
  display: flex;
  align-items: flex-end;
}

.footer {
  p {
    margin: 2rem;
  }
}

.paragraph {
  margin: 1rem 0;
  line-height: 2;
}
@media (min-width: $desktop-breakpoint) {
  .layout {
    width: 55vw;
    p {
      padding: 1rem 0;
    }
  }
}

@media (min-width: 2560px) {
  .layout {
    width: 35vw;
  }
}
