button {
  border: none;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.button__red {
  @include color-scheme($red, $less-white);
  &:hover {
    background: #b90d0d;
  }
}

.button__white {
  background: transparent;
  border: 1px solid $less-white;
  color: $less-white;
  transition: all 0.25s ease;
  &:hover {
    background: darken($less-white, 2);
    color: $red;
  }
}

.button__white:hover {
}

.button__hamburger {
  @include flex-row;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  border-radius: 100%;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 2;
  margin: 1rem;
}

.button__animation {
  padding: 0;
  @include flex-row-center;
  position: relative;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  @include button-animation;
}

.button__animation::before,
.button__animation::after {
  content: "";
  position: absolute;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  @include button-animation;
}

.button__animation::before {
  transform: translateY(-7px);
}

.button__animation::after {
  transform: translateY(7px);
}

@media (min-width: $desktop-breakpoint) {
  .button__hamburger,
  .button__animation,
  .button__animation::before,
  .button__animation::after {
    visibility: hidden;
  }
}
