button {
  border: none;
  padding: 0.25rem 1rem;
  margin: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 5px;
}

.button__primary {
  @include color-scheme($red, $less-white);
  @include box-shadow($mid-grey);
}

.button__primary:hover {
  background: #b90d0d;
}

.button__secondary {
  background: transparent;
  border: 1px solid $less-white;
  color: $less-white;
  transition: all 0.25s ease;
}

.button__secondary:hover {
  background: darken($less-white, 2);
  color: $red;
}

.button__hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  position: absolute;
  background: $red;
  border-radius: 100%;
  margin: 1rem;
  border: 1px solid $less-white;
}

.button__animation {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  @include button-animation;
}

.button__animation::before,
.button__animation::after {
  content: "";
  position: absolute;
  transition: all 0.5s ease-in-out;
  @include button-animation;
}

.button__animation::before {
  transform: translateY(-7px);
}

.button__animation::after {
  transform: translateY(7px);
}

@media (min-width: $desktop-breakpoint) {
  .button__hamburger {
    display: none;
  }
}
