.button__red {
  @include button-solid($red, $less-white, RGBA(191, 0, 0, 0.15));
}

.button__ghost {
  @include button-ghost($less-white, RGBA(255, 250, 250, 0.15));
  padding: $xs-size $l-size;
  background: transparent;
  border: 1px solid $less-white;
  &:hover {
    background: lighten($red, 3);
  }
}

.button__white {
  @include button-solid($less-white, $red, RGBA(255, 250, 250, 0.15));
  font-weight: $bold;
  margin: $s-size 0;
}

.button__grey {
  @include button-solid($less-grey, $almost-black, RGBA(0, 0, 0, 0.075));
  padding: 0.25rem 0.75rem;
  text-transform: uppercase;
  margin: $s-size;
}

.button__hamburger {
  @include flex-row(flex-end);
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  border-radius: 100%;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 2;
  margin: $s-size $xs-size;
}

.button__animation {
  padding: 0;
  @include flex-row(center);
  position: relative;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  @include button-animation;
}

.button__animation::before,
.button__animation::after {
  content: "";
  position: absolute;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  @include button-animation;
}

.button__animation::before {
  transform: translateY(-7px);
}

.button__animation::after {
  transform: translateY(7px);
}

@media (min-width: $desktop-breakpoint) {
  .button__hamburger,
  .button__animation,
  .button__animation::before,
  .button__animation::after {
    visibility: hidden;
  }
}
