.contact {
  position: absolute;
  @include flex-col(center);
  justify-content: center;
  min-height: 500px;
  height: 80vh;
  right: 0;
  top: 0;
  z-index: 2;

  h2 {
    font-weight: $bold;
  }
}

.contact__form {
  @include flex-col(center);
  justify-content: center;
  width: 100vw;
  min-height: 500px;

  select,
  textarea,
  input {
    width: 80vw;
    @include form-input;
    outline: none;
  }

  &.--pg {
    background: $mid-grey;
    height: 75vh;
  }
}

@media (min-width: $desktop-breakpoint) {
  .contact,
  .contact__form {
    width: 45vw;
    select,
    textarea,
    input {
      width: 30vw;
    }
  }
}
