.contact {
  position: absolute;
  @include flex-col-center;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 2;

  h2 {
    font-weight: $bold;
  }

  select,
  textarea,
  input {
    width: 80vw;
    @include form-input;
    outline: none;
  }
}

@media (min-width: $desktop-breakpoint) {
  .contact {
    width: 45vw;

    select,
    textarea,
    input {
      width: 30vw;
    }
  }
}
