.header {
  @include flex-col-center;
}

.header__company-info {
  @include flex-col-center;
  padding-top: 3.5rem;
}

.header__logo {
  padding: 1.5rem 0;
}

.header__tel {
  @include flex-col-center;
  line-height: 1;
  background: $red;
  width: 100vw;
  padding: 1rem 0;
  h1 {
    font-size: 2.5rem;
    padding: 0;
    color: $less-white;
  }
  span {
    font-size: 2rem;
    font-weight: $reg;
    color: $less-white;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header__company-info {
    margin: 0 5rem;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
  }
  .header {
    flex-direction: column-reverse;
    align-items: inherit;
    .header__tel {
      align-items: flex-end;
      width: auto;
      background: transparent;
      h1 {
        font-size: 3rem;
        color: $almost-black;
      }
      span {
        color: $red;
      }
    }
  }
}
