.header {
  display: flex;
  flex-direction: column;
  img {
    padding: 2rem;
  }
}

.header__tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2rem;
    padding: 0;
  }
  span {
    font-size: 2rem;
    font-weight: 600;
    color: $red;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header__logo {
    img {
      width: 375px;
      padding: 0;
    }
  }
  .header__company-info {
    margin: 1rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header {
    flex-direction: column-reverse;
    .header__tel {
      align-items: flex-end;
      h1 {
        font-size: 3rem;
      }
    }
  }
}
