.hero {
  width: 100vw;
  @include flex-row(center);
  position: relative;
}

.hero__overlay,
.contact__overlay {
  @include flex-col(center);
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background: rgb(14, 12, 12);
  opacity: 0.5;
  z-index: 1;
}

.hero__overlayText {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.hero__img-container {
  height: 80vh;
  min-height: 500px;
}

@media (min-width: 1025px) {
  .hero__overlay,
  .contact__overlay {
    width: 45vw;
  }

  .hero__overlayText {
    visibility: visible;
    color: $less-white;
    font-size: 3.25rem;
    position: absolute;
    top: 50%;
    left: 0;
    width: 55vw;
  }
}

// SMALLER SCREENS (IPHONE SE, GALAXY S5)
@media (max-width: 320px) {
  .heading__overlay {
    height: 100vh;
  }

  .hero__img,
  .contact__img {
    height: 100vh;
  }
}
