.hero__overlay {
  @include flex-col-center;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background: rgb(14, 12, 12);
  opacity: 0.5;
  z-index: 1;
}

.hero__container {
  @include flex-row-center;
  position: relative;
  img {
    height: 72vh;
  }
}

@media (min-width: 800px) {
  .hero__overlay {
    width: 45vw;
  }
}

// SMALLER SCREENS (IPHONE SE, GALAXY S5)
@media (max-width: 320px) {
  .heading__overlay {
    height: 100vh;
  }

  .hero__container {
    img {
      height: 100vh;
    }
  }
}
