.home__blurb {
  line-height: 2;
  background: $less-grey;
  padding: $xl-size $l-size;
  border-bottom: 1px solid darken($less-grey, 4);

  div:first-child {
    h2 {
      line-height: 1.5;
    }
    border-bottom: 1px solid darken($less-grey, 12);
  }
  div:last-child {
    h2 {
      color: $red;
      font-weight: $bold;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .home__blurb {
    @include flex-row(center);
    padding: $xl-size $l-size;
    div:first-child {
      padding-top: $xs-size;
      h2 {
        margin: 0 $s-size;
        text-align: center;
      }
      border-bottom: none;
      width: 65vw;
      color: $almost-black;
      font-weight: $bold;
      h2:last-child {
        padding-top: $m-size;
      }
    }
    div:last-child {
      padding-left: $xl-size;
      width: 50vw;
    }
  }
}
