.legal {
  h1 {
    @include heading-underline($mid-grey);
    padding-top: $l-size;
    line-height: 1.5;
  }
  a {
    color: $darker-grey;
    &:hover {
      color: $almost-black;
    }
    &:visited {
      color: $mid-grey;
    }
  }

  h2:first-child {
    margin-top: $xl-size;
  }
  h3:not(:first-child) {
    margin-top: $s-size;
  }
}
