.legal {
  h1 {
    @include heading-underline($mid-grey);
  }
  a {
    color: $darker-grey;
  }
  a:hover {
    color: $almost-black;
  }

  a:visited {
    color: $mid-grey;
  }

  h2:first-child {
    margin-top: $xl-size;
  }
  h3:not(:first-child) {
    margin-top: $s-size;
  }
}
