nav {
  width: 100vw;
  a {
    @include color-scheme(transparent, $less-white);
    text-decoration: none;
    padding: 2rem;
    letter-spacing: 1.5px;
    font-size: 2rem;
    @include flex-row-center;
  }
}
.navbar__menu {
  @include color-scheme($red, $less-white);
  font-size: 2.5rem;
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  &.mobile {
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out,
      transform 0.5s ease-in-out;
    @include flex-col-center;
    visibility: visible;
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
}

.navbar__button.open .button__animation {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.navbar__button.open .button__animation::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: $less-white;
}

.navbar__button.open .button__animation::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: $less-white;
}

@media (min-width: $desktop-breakpoint) {
  .navbar__menu {
    visibility: visible;
    height: 8rem;
    transition: none;
    opacity: 1;
    &.desktop {
      width: 100vw;
      height: 100%;
    }
    nav {
      @include flex-row;
      justify-content: flex-end;
      a:hover {
        -webkit-box-shadow: inset 0px -2px 0px 0px $less-white;
        -moz-box-shadow: inset 0px -2px 0px 0px $less-white;
        box-shadow: inset 0px -2px 0px 0px $less-white;
      }
    }
  }
}
