nav {
  width: 100vw;
  font-size: 1.25rem;
  a {
    @include color-scheme(transparent, $less-white);
    text-decoration: none;
    padding: 2rem;
    letter-spacing: 1.5px;
    @include flex-row(center);
  }
}
.navbar__menu {
  @include color-scheme($red, $less-white);
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;

  &.mobile {
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out,
      transform 0.5s ease-in-out;
    @include flex-col(center);
    justify-content: center;
    visibility: visible;
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
}

.navbar__button.open .button__animation {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.navbar__button.open .button__animation::before {
  transform: rotate(45deg) translate(35px, -3px5px);
  background: $less-white;
}

.navbar__button.open .button__animation::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: $less-white;
}

@media (min-width: $desktop-breakpoint) {
  .navbar__menu {
    visibility: visible;
    transition: none;
    &.desktop {
      visibility: visible;
      width: 100vw;
      height: auto;
      opacity: 1;
    }
    &.mobile {
      width: 100vw;
      height: auto;
    }
    nav {
      @include flex-row(flex-end);
      a:hover {
        -webkit-box-shadow: inset 0px -3px 0px 0px $less-white;
        -moz-box-shadow: inset 0px -3px 0px 0px $less-white;
        box-shadow: inset 0px -3px 0px 0px $less-white;
      }
    }
  }
}
