.page-intro {
  @include flex-col(center);
  flex-direction: column-reverse;
  &.--contact,
  s {
    flex-direction: column;
  }
  h4 {
    font-weight: $bold;
    margin-bottom: $s-size;
  }
}

.page-intro__blurb {
  @include flex-col(center);
  width: 80vw;
  min-height: 300px;
  margin-bottom: $l-size;
  p {
    padding-top: $m-size;
  }
  a {
    text-align: center;
  }
  span {
    padding: $m-size 0;
  }
}
.--bio {
  @include flex-col(center);
  flex-direction: column-reverse;
  .page-intro__img--bio {
    width: 50%;
    margin: $s-size;
  }
}

@media (min-width: $desktop-breakpoint) {
  .page-intro,
  .--contact {
    @include flex-row(flex-end);
    align-items: center;
  }

  .pageIntro__img {
    width: 55vw;
    height: 80vh;
    min-height: 500px;
  }

  .page-intro__blurb {
    width: 50vw;
    margin: $xl-size;
    p:first-child {
      padding: $xl-size;
      a {
        margin-top: 0;
      }
    }
  }

  .--bio {
    flex-direction: row;
    align-items: flex-start;
    .page-intro__img--bio {
      margin: 0;
    }
  }
}
