.page-intro {
  @include flex-col(center);
  flex-direction: column-reverse;
  &.--contact {
    flex-direction: column;
  }
  h4 {
    font-weight: $bold;
    margin-bottom: $s-size;
  }
}

.page-intro__blurb {
  @include flex-col(center);
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: $l-size;
  h2 {
    padding-bottom: 0;
  }
  p {
    padding: $m-size 0;
  }
  a {
    text-align: center;
  }
  span {
    padding: $m-size 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .page-intro,
  .--contact {
    @include flex-row(flex-end);
    align-items: center;
  }

  .pageIntro__img {
    width: 55vw;
    height: 50vh;
    min-height: 500px;
  }
  .page-intro__container {
    width: 50vw;
    @include flex-row(center);
  }
  .page-intro__blurb {
    width: 35vw;
    margin: 0 5rem;

    p {
      padding: $m-size;
    }
    p:first-child {
      a {
        margin-top: 0;
      }
    }
  }
}
