.services__title {
  text-align: center;
  font-weight: $bold;
  letter-spacing: 1px;
  padding: 2rem;
  position: absolute;
  z-index: 2;
  color: $less-white;
  width: 75%;
  height: 40%;
  @include flex-row(center);
  align-items: center;
  border: 3px solid $less-white;
}

.services__container-row {
  margin-top: $m-size;
}

.services__container-row {
  display: flex;
  flex-direction: column-reverse;
}

.services__overlay {
  @include flex-col(center);
  text-align: center;
  background: lighten(black, 2);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.65;
  z-index: 1;
}

.services__img {
  height: 25vh;
}

.services__img-container {
  @include flex-col(center);
  justify-content: center;
  position: relative;
}

.services__details {
  background: $less-grey;
  border: 1px solid darken($less-grey, 4);
  height: auto;
}

.service {
  @include flex-col(center);
  span:first-child {
    @include flex-row(center);
  }
  h2 {
    line-height: 1.5;
    margin: $l-size;
    font-size: 1.25rem;
  }
}

.services__container-row {
  margin-top: 0;
}

@media (min-width: $desktop-breakpoint) {
  .service {
    @include flex-row(space-evenly);
    span {
      margin: 4rem;
    }

    span:last-child {
      width: 60vw;

      h2 {
        line-height: 2;
        font-size: $m-size;
      }
    }
  }

  .services__title {
    width: 80%;
    height: 60%;
  }

  .services__img {
    height: 30vh;
  }

  .services__container-row {
    flex-direction: row-reverse;
  }

  .services__img-container {
    flex-direction: row;
    width: 33.33vw;
    height: auto;
  }
}
