.services__container-mobile {
  visibility: visible;
  @include flex-col(center);
  padding: 1rem;
  h3 {
    text-decoration: underline;
    margin-bottom: $s-size;
  }
  ul {
    margin: 0;
  }
}

.services__title {
  text-align: center;
  font-weight: $bold;
  letter-spacing: 1px;
  padding: 2rem;
  position: absolute;
  z-index: 2;
  color: $less-white;
}
.services__container-row {
  margin-top: $m-size;
}

.services__container-row,
.services__container-row--hide {
  @include flex-row(center);
  flex-wrap: wrap;
  height: 100%;
}

.services__container-row--hide {
  visibility: hidden;
  height: 0;
}

.services__overlay {
  @include flex-col(center);
  text-align: center;
  background: lighten(black, 5);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
}

.services__img-container {
  @include flex-col(center);
  justify-content: center;
  position: relative;
  img {
    aspect-ratio: 8/3;
  }
}
.services__details {
  background: $less-grey;
  border: 1px solid darken($less-grey, 4);
  height: auto;
}

.service {
  @include flex-col(center);
  span:first-child {
    @include flex-row(center);
  }
  h2 {
    line-height: 1.5;
    margin: $l-size;
    font-size: 1.25rem;
  }
}

.services__container-row {
  margin-top: 0;
}

@media (min-width: $desktop-breakpoint) {
  .service {
    @include flex-row(space-evenly);
    span {
      margin: 4rem;
    }

    span:last-child {
      width: 60vw;

      h2 {
        line-height: 2;
        font-size: $m-size;
      }
    }
  }
  .services__container-row {
    flex-direction: row;
  }
  .services__container-row--hide {
    visibility: visible;
    height: 100%;
  }

  .services__container-mobile {
    visibility: hidden;
    height: 0;
    padding: 0;
  }

  .services__img-container {
    flex-direction: row;
    width: 25vw;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .services__img-container {
    img {
      aspect-ratio: 7/4;
    }
  }
}
