.team {
  section {
    padding-top: 0;
  }
}

.team__cards {
  @include flex-col(center);
}

.team__card {
  @include flex-col(center);
  margin: $l-size 0;
  width: 80vw;
  text-transform: uppercase;
  h4 {
    color: $darker-grey;
    letter-spacing: 1px;
  }
  button:hover {
    background: $mid-grey;
  }
}
.team__bio {
  h3 {
    @include flex-row(center);
    text-transform: uppercase;
    color: $darker-grey;
    margin-bottom: $s-size;
  }
}
.team__title {
  @include heading-underline($mid-grey);
}

.team__location {
  margin-top: $m-size;
}

.team__info {
  @include flex-col(center);
  color: $red;
}

.team__img-container {
  margin: $m-size 0;
  min-width: 140px;
  width: 140px;
  height: auto;
  .team__img {
    border-radius: 100%;
  }
}

@media (min-width: $desktop-breakpoint) {
  .team__bio {
  }

  .team__cards {
    @include flex-row(space-between);
    flex-wrap: wrap;
  }
  .team__card {
    @include flex-row(flex-start);
    width: 30vw;
  }
  .team__img-container {
    margin-right: $xl-size;
  }
}
