.work-with-us {
  visibility: hidden;
  height: 0;
  @include flex-col(center);
  margin: 0 auto;
  background: $less-grey;
  border-top: 1px solid darken($less-grey, 4);
  border-bottom: 1px solid darken($less-grey, 4);
  margin: 0;
  h2 {
    color: $almost-black;

    span {
      border-bottom: 1px solid $darker-grey;
      color: $red;
    }
  }
}
.work-with-us__cards {
  @include flex-col(center);
}
.work-with-us__card {
  padding: $s-size;
  margin: 1rem;
  background: lighten($mid-grey, 17);
  border: 1px solid darken($less-grey, 4);
  h4 {
    letter-spacing: 0.25px;
    padding-bottom: $s-size;
    font-weight: $bold;
  }
  p {
    line-height: 1.25;
    color: $almost-black;
  }
}

@media (min-width: $desktop-breakpoint) {
  .work-with-us {
    visibility: visible;
    height: auto;
  }
  .work-with-us__cards {
    margin: 0 auto;
    width: 80vw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .work-with-us__card {
    margin: $m-size;
    width: 16vw;
    height: 300px;
  }
}

@media (min-width: 1500px) {
  .work-with-us__cards {
    flex-wrap: nowrap;
    width: 100vw;
  }
}
