.work-with-us {
  @include flex-col(center);
  margin: 0 auto;
  background: lighten($mid-grey, 2);
  margin: 0;
  h2 {
    color: $almost-black;
    span {
      border-bottom: 1px solid $darker-grey;
      color: $red;
    }
  }
}
.work-with-us__cards {
  @include flex-col(center);
}
.work-with-us__card {
  padding: 2rem;
  margin: 1rem;
  background: lighten($mid-grey, 18);
  h4 {
    letter-spacing: 0.5px;
    margin-bottom: 0.25rem;
  }
  p {
    line-height: 1.25;
    color: $almost-black;
  }
}

@media (min-width: $desktop-breakpoint) {
  .work-with-us__cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .work-with-us__card {
    width: 25vw;
  }
}
