@mixin box-shadow($color) {
  -webkit-box-shadow: 0 5px 20px rgba($color, 0.19),
    0 6px 6px rgba($color, 0.16);
  -moz-box-shadow: 0 5px 20px rgba($mid-grey, 0.19),
    0 6px 6px rgba($color, 0.16);
  box-shadow: 0 5px 20px rgba($color, 0.19), 0 6px 6px rgba($color, 0.16);
}
@mixin button {
  text-decoration: none;
  width: auto;
  padding: 0.25rem 1rem;
  border-radius: 50px;
  font-weight: 300;
  transition: all 0.25s ease;
  outline: none;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

@mixin button-solid($color, $fontColor, $boxShadow) {
  @include button;
  background: $color;
  color: $fontColor;
  box-shadow: 0 6px 8px $boxShadow;
  &:hover {
    background: darken($color, 3);
  }
}

@mixin button-ghost($color, $boxShadow) {
  @include button;
  background: transparent;
  color: $color;
  border: 2px solid $color;
  box-shadow: 0 6px 8px $boxShadow;
}

@mixin heading($color) {
  line-height: 1.25;
  color: $color;
  text-align: center;
}

@mixin heading-underline($color) {
  span {
    border-bottom: 1px solid $color;
    margin-bottom: $xs-size;
    padding-bottom: $xs-size;
  }
}

@mixin color-scheme($primary, $secondary) {
  background: $primary;
  color: $secondary;
}

@mixin banner {
  height: auto;
  margin: $xs-size 0;
  padding: $m-size;
  font-weight: $bold;
  @include color-scheme($red, $less-white);
}

@mixin form-input {
  padding: 0.25rem;
  margin: 0.25rem;
  color: $almost-black;
}

@mixin button-animation {
  outline: none;
  border: none;
  width: 1.75rem;
  height: 0.25rem;
  background: $red;
  border-radius: 5px;
  box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.21);
}

@mixin flex-row($align) {
  display: flex;
  flex-direction: row;
  justify-content: $align;
}

@mixin flex-col($align) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@media (max-width: 320px) {
  @mixin heading($color) {
  }
}
