html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
textarea,
input {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 2;
  color: #121212;
}

input,
select,
textarea {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: $less-white;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
  display: block;
}

section {
  height: auto;
}
body {
  line-height: 1;
  font-weight: 400;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
a,
input[type="submit"] {
  cursor: pointer;
}

svg {
  @include flex-row(center);
  width: 65%;
  height: 100%;
  min-width: 300px;
  margin: $l-size 0;
}

body {
  text-align: center;
}

@media (max-width: 1024px) {
  textarea,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  select {
    -webkit-appearance: none;
  }
}
